{% extends 'base.html.twig' %}

{% block body %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N38G7PNKEZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N38G7PNKEZ');
</script>

<br><br>
<div class="container1">
  <img class="img-fluid rounded "src="{{ asset('medias/medias/images/Picto Doré.jpg')}}" alt="image services à la personne" style="width: 7rem;">
  <h1 class="text-center fs-1 text fw-bold d-flex justify-content-between fst-italic"><FONT size="4.5pt">Je crée mon compte</FONT></h1>
  <img class="img-fluid rounded "src="{{ asset('medias/medias/images/Picto Doré.jpg')}}" alt="image services à la personne" style="width: 7rem;">
</div>
<br><br><br>
        <div class="card mx-auto shadow form-card  cardcolor">
            <div class="card-body text-center">
                {{ form(form) }}
            </div>
        </div>

{% endblock %}

