{% extends 'base.html.twig' %}

{% block title %}GServices A Domicile{% endblock %}

{% block body %}


<br><br>
<div class="container">
    <img class="img-fluid rounded "src=" https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/355331317_232058129587881_7746128430629634370_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=e3f864&_nc_ohc=DWdj-TWD-cwAX_6j-Mb&_nc_ht=scontent-cdg4-1.xx&oh=00_AfClAXGwH0-NioztCOuog1ZZhK8X0L0fKg8nGRK2D8cDlA&oe=6496B7D3
    " alt="image services à la personne" style="width: 7rem;">
    <h1 class="text-center fs-1 text fw-bold d-flex justify-content-between"><FONT size="9pt">  Qui sommes nous  </FONT></h1>
    <img class="img-fluid rounded"src=" https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/355331317_232058129587881_7746128430629634370_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=e3f864&_nc_ohc=DWdj-TWD-cwAX_6j-Mb&_nc_ht=scontent-cdg4-1.xx&oh=00_AfClAXGwH0-NioztCOuog1ZZhK8X0L0fKg8nGRK2D8cDlA&oe=6496B7D3
    " alt="image services à la personne" style="width: 7rem;">
</div>
<br><br><br>



<div class="d-flex justify-content-between col-12">
<div class="container container-fluid ">
    <img class="col-6 card" src="https://media.istockphoto.com/id/1456028818/fr/photo/une-fille-m%C3%BBre-aide-sa-m%C3%A8re-%C3%A2g%C3%A9e-%C3%A0-faire-son-budget.jpg?s=612x612&w=0&k=20&c=HNLAwCRGAVZwQtO_zjxLuNd4bw5VfIghXzSHSSdOPpw=" alt="img services"  width="700" height="300">
</div>
<div class="container container-fluid">
    <img class="col-6 card" src="https://media.istockphoto.com/id/1299516281/fr/photo/merci-de-mavoir-aid%C3%A9-professeur.jpg?s=612x612&w=0&k=20&c=jOaJ8nnSuzbSsX4rKI4Q-UOAyU3f94FLuk2vmLcjg2g=" alt="img servcices"  width="700" height="300">
</div>
<div class="container container-fluid ">
    <img class="col-6 card" src="https://media.istockphoto.com/id/1407736067/fr/photo/une-femme-aidant-un-senior-wtih-documents.jpg?s=612x612&w=0&k=20&c=ImhKbstFedpAook_5a1GXAKzOmRA9I95I-8Y8XdCsrA=" alt="img aide documentaire"  width="700" height="300">
</div>
</div>
<br><br><br>
<div class="d-flex justify-content-between col-12">
<div class="container container-fluid">
    <img class="col-6 card" src="https://media.istockphoto.com/id/1480372898/fr/photo/entretien-m%C3%A9nager-nettoyage-et-femme-de-m%C3%A9nage-avec-une-vadrouille-pour-nettoyer-le-sol-du.jpg?s=612x612&w=0&k=20&c=iYk_0s2ItDdw2LJs3flGPhsPEUewa1U7invcq-80-54=" alt="img services" width="700" height="300">
</div>
<div class="container container-fluid">    
    <img class="col-6 card" src="https://media.istockphoto.com/id/912073314/photo/senior-man-and-female-carer-enjoying-coffee-at-home.jpg?s=612x612&w=0&k=20&c=EnRva05jpNgoJsFnxOgy9FlF4ED7VsqTi3MQi2Jq67w=" alt="img services"  width="700" height="300">
</div>
<div class="container container-fluid">    
    <img class="col-6 card" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-VcJHpC_PLq2vlCGvfoK5cJng43EVsE81ug&usqp=CAU" alt="img servcices"  width="700" height="300">
</div>
</div>
<br><br><br>
<div class="d-flex justify-content-between col-12">
<div class="container container-fluid">
         <img class="col-6 card" src="https://media.istockphoto.com/id/1459390112/fr/photo/enseignant-jouant-avec-des-blocs-de-jouets-en-classe-%C3%A0-l%C3%A9cole.jpg?s=612x612&w=0&k=20&c=iNmzrjB0tXzgDUzFiAtR8Om7SoNcT73m5rP9zh9L1fY=" alt="img services"  width="700" height="300">
</div> 
<div class="container container-fluid">    
    <img class="col-6 card" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4LgtsUdML6Sjh0LsS21-vBODfJ9H4l2sSHQ&usqp=CAU" alt="img services"  width="700" height="300">
</div>
<div class="container container-fluid">       
         <img class="col-6 card" src="https://media.istockphoto.com/id/1437928433/fr/photo/femme-africaine-avec-dreadlocks-couturi%C3%A8re-designer-%C3%A0-latelier-avec-client-faisant-ok-signe.jpg?s=612x612&w=0&k=20&c=dZZzxxpDuUgs3wKbz54kzyT9U5RMmbzxpOPugwNtcEA=" alt="img services"  width="700" height="300">
</div>
</div>
<br><br><br>
<div class="d-flex justify-content-between col-12">
<div class="container container-fluid">
    <img class="col-6 card" src="https://media.istockphoto.com/id/1130451642/fr/photo/livraison-d%C3%A9picerie-aux-personnes-%C3%A2g%C3%A9es.jpg?s=612x612&w=0&k=20&c=qNGyHK4HoWDPB24tOM9oLxmQh7dejwbUuzbjl8CtTs0=" alt="img services"  width="700" height="300">
</div> 
<div class="container container-fluid">    
    <img class="col-6 card" src="https://media.istockphoto.com/id/1190345492/fr/photo/ils-sortiront-tous-propres-et-frais.jpg?s=612x612&w=0&k=20&c=db-KpoYCWr5XCDkzyzyxk_bezasT1qYw7NJhxYZUJJ8=" alt="img services"  width="700" height="300">
</div>  
    <div class="container container-fluid">    
    <img class="col-6 card" src="https://media.istockphoto.com/id/1301815523/fr/photo/femme-noire-afro-am%C3%A9ricaine-cuisine-de-cuisine-cuisine-cuisine-pr%C3%A9parant-le-d%C3%AEner-luch-petit.jpg?s=612x612&w=0&k=20&c=Wgp7E4fEYl9oN8Wp_oeSeGwP02MvMqPg_e70Oa_N-tc=" alt="img services" width="700" height="300">
</div>
</div>
{% endblock %}
