{% extends 'base.html.twig' %}

{% block title %}Contact Particuliers{% endblock %}

{% block body %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N38G7PNKEZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N38G7PNKEZ');
</script>

<br><br>
<div class="container">
    <img class="img-fluid rounded "src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/355331317_232058129587881_7746128430629634370_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=e3f864&_nc_ohc=DWdj-TWD-cwAX_6j-Mb&_nc_ht=scontent-cdg4-1.xx&oh=00_AfClAXGwH0-NioztCOuog1ZZhK8X0L0fKg8nGRK2D8cDlA&oe=6496B7D3
    " alt="image services à la personne" style="width: 7rem;">
    <h1 class="text-center fs-1 text fw-bold d-flex justify-content-between fst-italic"><FONT size="9pt">Contact Familles</FONT></h1>
    <img class="img-fluid rounded"src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/355331317_232058129587881_7746128430629634370_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=e3f864&_nc_ohc=DWdj-TWD-cwAX_6j-Mb&_nc_ht=scontent-cdg4-1.xx&oh=00_AfClAXGwH0-NioztCOuog1ZZhK8X0L0fKg8nGRK2D8cDlA&oe=6496B7D3
    " alt="image services à la personne" style="width: 7rem;">
</div>
<br><br><br>


<div class="form-card container container-fluid w-100 d-flex justify-content-center cardcolor">
  {{ form(form)}}
</div>
{% endblock %}
