{% extends 'base.html.twig' %}

{% block title %}GServices A Domicile{% endblock %}

{% block body %}

<br><br>
<div class="container">
    <img class="img-fluid rounded "src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/355331317_232058129587881_7746128430629634370_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=e3f864&_nc_ohc=DWdj-TWD-cwAX_6j-Mb&_nc_ht=scontent-cdg4-1.xx&oh=00_AfClAXGwH0-NioztCOuog1ZZhK8X0L0fKg8nGRK2D8cDlA&oe=6496B7D3" alt="image services à la personne" style="width: 7rem;">
    <h1 class="text-center fs-1 text fw-bold d-flex justify-content-between"><FONT size="9pt">GServ'Adom <br>Accueil</FONT></h1>
    <img class="img-fluid rounded "src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/355331317_232058129587881_7746128430629634370_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=e3f864&_nc_ohc=DWdj-TWD-cwAX_6j-Mb&_nc_ht=scontent-cdg4-1.xx&oh=00_AfClAXGwH0-NioztCOuog1ZZhK8X0L0fKg8nGRK2D8cDlA&oe=6496B7D3" alt="image services à la personne" style="width: 7rem;">
</div>
<br><br><br>


<br>

<div class="container-fluid">
  <div class="h-100">
          <h1 class="display-6 mb-5 text-center fw-bold fst-italic fs-1 text">Bonjour, Bienvenue chez votre prestataire de services personnalisés</h1><br>
      <div class="row g-4 mb-4 blocimages justify-content-center">
      <div class="col-sm-6">
      <div class="d-flex align-items-center">
          <img class="flex-shrink-0 me-3 rounded mb-3 d-flex" src=" https://img.freepik.com/photos-gratuite/personnes-qui-s-occupent-du-nettoyage-bureaux_23-2149374451.jpg?size=626&ext=jpg&ga=GA1.2.1714109756.1666109943&semt=sph
            " alt="img services particuliers" width="600" height="600">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="d-flex">
          <img class="flex-shrink-0 me-3 rounded mb-3" src=" https://img.freepik.com/vecteurs-libre/nettoyeurs-produits-entretien_18591-52068.jpg?size=626&ext=jpg&ga=GA1.2.1714109756.1666109943&semt=sph" alt="img services particuliers" width="600" height="600">
      </div>
    </div>
      <div class="col-sm-6">
      <div class="d-flex align-items-center">
        <img class="flex-shrink-0 me-3 rounded mb-3 d-flex" src="  https://img.freepik.com/photos-gratuite/jeune-fille-tient-produit-nettoyage-gants-chiffons-dans-bassin-mur-blanc_1150-21780.jpg?w=900&t=st=1687290802~exp=1687291402~hmac=deaf142dd1e0daf07b14f4ca91f2e123b97ee0b5cb526342a05a3c6501ee7e94
        " width="600" height="600">
      </div>
  </div>
  <div class="col-sm-6">
    <div class="d-flex align-items-center">
      <img class="flex-shrink-0 me-3 rounded mb-3" src=" https://img.freepik.com/photos-gratuite/personne-qui-s-occupe-du-nettoyage-bureaux_23-2149374450.jpg?w=1060&t=st=1687292257~exp=1687292857~hmac=0464892b1d5e8dee5d9d1bd016b7532aac5a2eb55800fdf5862d82fd349d179f" width="600" height="600">
    </div>
</div>
<div class="col-sm-6">
  <div class="d-flex align-items-center">
    <img class="flex-shrink-0 me-3 rounded mb-3 d-flex" src="https://img.freepik.com/photos-gratuite/buanderie-machine-laver-panier-plein-vetements-ai-generative_123827-23534.jpg?w=900&t=st=1687292445~exp=1687293045~hmac=bfe0d61544b7a842db8149d564f0607b18cd22f0f1d7935b90d62a2d392f5677" width="600" height="600">
  </div>
</div>
<div class="col-sm-6">
  <div class="d-flex align-items-center">
    <img class="flex-shrink-0 me-3 rounded mb-3" src="https://img.freepik.com/photos-gratuite/belle-femme-preparant-diner-romantique_23-2148960278.jpg?w=900&t=st=1687292592~exp=1687293192~hmac=f9abad5725c745313ee769278edff57c10853ea5191a6590b42a84d24f44590c" width="600" height="600">
  </div>
</div>
</div>

      <p class="text-center fst-italic fs-1 text">Nous vous proposons des services à la carte, personnalisés ou par packs</p>
      
  </div>
</div>
<div class="col-md-6 col-lg-2 col-xl-6 mx-auto mb-4 cardcolor2" style="width: 40rem;">
  <br>
    <h6>
      <p  class="text-uppercase fw-bold mb-4 text-center">Exemples de services Proposés</p>
    
     <span class="text-center">
     <p>
      Aide aux démarches administratives
     </p>
     <p>
     Assistance aux démarches informatiques à domicile
     </p>
     <p>
      Accompagnement et soutien aux besoins familiaux
     </p>
     <p>
       Soutien aux activités avec les enfants-
     </p>
     <p>
       Accompagnement aux loisirs saints enfants
     </p>
     <p>
      Accompagnement aux loisirs saints adultes
     </p>
     <p>
       Ménage du quotidien
     </p>
    </span>
  </h6>
  <div class="d-flex align-items-center bg-light">
    <div class="service-icon flex-shrink-0 bg-primary">
        <img class="img-fluid" src=" https://st2.depositphotos.com/2169717/5239/v/950/depositphotos_52392053-stock-illustration-service-quality.jpg" alt="image qualité de services" width="100" height="100">
    </div>
    <a class="h4 mx-4 mb-0" href="">Qualité de Services</a>
</div>

   </div>
{% endblock %}
