{% extends "@EasyAdmin/page/content.html.twig"%}
{% block content %}
	<h1 class="text-center">Bienvenue au sein de l'administration de Ma Bio Pro</h1>
	<br><br>
<div class="container d-flex justify-content-around">
    <img class="img-fluid rounded d-flex justify-content-around"src="https://urlz.fr/moB9" alt="image services à la personne" style="width: 7rem;">
    <h1 class="text-center fs-1 text fw-bold"><FONT size="9pt">Dashboard</FONT></h1>
    <img class="img-fluid rounded"src="https://urlz.fr/moB9" alt="image services à la personne" style="width: 7rem;">
</div>
<br><br><br>
{% endblock %}
