{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N38G7PNKEZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N38G7PNKEZ');
</script>

<br><br>
<div class="container1">
  <img class="img-fluid rounded "src="{{ asset('medias/medias/images/Picto Doré.jpg')}}" alt="image services à la personne" style="width: 7rem;">
  <h1 class="text-center fs-1 text fw-bold d-flex justify-content-between fst-italic"><FONT size="6pt">Mentions légales et CGV</FONT></h1>
  <img class="img-fluid rounded "src="{{ asset('medias/medias/images/Picto Doré.jpg')}}" alt="image services à la personne" style="width: 7rem;">
</div>
<br><br>

<div class="form-card container container-fluid w-100 d-flex justify-content-center card cardcolor">
 
    Identification du site web <br>
    Nom de l'entreprise : G Services A Domicile - GServ'ADom <br>
    Statut juridique : [Micro Entreprise] <br>
    Adresse : [Cergy 1 Rue Phileas FOGG] <br>
    Numéro de téléphone : [+33658660725] <br>
    Adresse e-mail : [g.servadom@gmail.com] <br>
    Numéro SIRET : [En cours] <br>
    Directeur de la publication : [Nom du directeur de la publication]

    <br>
    Propriété intellectuelle <br>
    Le contenu de ce site web, y compris les textes, les images, les graphiques, les logos, les vidéos, les fichiers téléchargeables et tout autre élément, est la propriété exclusive de [Nom de l'entreprise] ou de ses partenaires, et est protégé par les lois relatives à la propriété intellectuelle en vigueur. Toute reproduction, distribution, modification ou utilisation non autorisée du contenu, en tout ou en partie, est strictement interdite.
    <br>
    Protection des données personnelles <br>
    GServ'ADom s'engage à protéger la vie privée de ses utilisateurs et à respecter les dispositions légales en matière de protection des données personnelles. Les informations collectées à travers ce site web ne seront utilisées que dans le cadre prévu et ne seront pas divulguées à des tiers sans consentement préalable. Pour plus d'informations sur notre politique de confidentialité, veuillez consulter notre page dédiée à la protection des données personnelles.
    <br>
    Responsabilité <br>
    GServ'ADom met tout en œuvre pour garantir l'exactitude et la mise à jour des informations fournies sur ce site web. Cependant, nous déclinons toute responsabilité en cas d'erreurs, d'omissions ou de problèmes techniques pouvant survenir lors de l'utilisation de ce site. Les utilisateurs sont invités à vérifier l'exactitude des informations avant de prendre toute décision ou action basée sur celles-ci.
    <br>
    Liens externes <br>
    Ce site web peut contenir des liens vers des sites web tiers. Ces liens sont fournis à titre informatif et [Nom de l'entreprise] n'a aucun contrôle sur le contenu ou les pratiques de ces sites. Par conséquent, nous déclinons toute responsabilité quant au contenu, à l'exactitude et à la sécurité des sites web tiers. Les utilisateurs sont invités à consulter les politiques de confidentialité et les conditions d'utilisation de ces sites avant de les utiliser.
    <br>
    Cookies <br>
    Ce site web peut utiliser des cookies pour améliorer l'expérience de l'utilisateur. Les cookies sont de petits fichiers texte stockés sur l'ordinateur de l'utilisateur. Ils permettent de collecter des informations sur la manière dont le site est utilisé et d'offrir des fonctionnalités personnalisées. Les utilisateurs ont la possibilité de refuser l'utilisation des cookies en modifiant les paramètres de leur navigateur.
    <br>
    Juridiction compétente <br>
    Tout litige découlant de l'utilisation de ce site web sera soumis à la juridiction compétente conformément à la législation en vigueur.
    <br>
    Ces mentions légales sont susceptibles d'être modifiées à tout moment. Il est conseillé aux utilisateurs de consulter régulièrement cette page pour prendre connaissance des éventuelles mises à jour.
    <br> <br>
    <p>Conditions Générales de Vente (CGV)</p>

    <p>Les présentes Conditions Générales de Vente (CGV) régissent les relations contractuelles entre les utilisateurs du site web et G Services A Domicile - GServ'ADom. En utilisant nos services ou en passant commande sur ce site web, vous acceptez pleinement et sans réserve les CGV énoncées ci-dessous.
      
      1. Prestations de services : Les prestations de services proposées sur ce site web sont destinées aux particuliers et sont soumises à disponibilité. Les prestations seront réalisées conformément aux conditions convenues lors de la commande.
      
      2. Tarifs et paiement : Les tarifs des prestations de services sont indiqués sur le site web et peuvent varier en fonction des spécificités de chaque prestation. Le paiement des services s'effectue selon les modalités prévues lors du processus de commande.
      
      3. Réservation et confirmation : La réservation d'une prestation de service est soumise à validation par GServ'ADom. Une fois la réservation confirmée, elle est considérée comme ferme et définitive.
      
      4. Annulation et modifications : Toute annulation ou modification de réservation doit être communiquée à GServ'ADom dans les meilleurs délais. Des frais d'annulation peuvent s'appliquer selon les conditions spécifiques précisées par GServ'ADom.
      
      5. Responsabilité : GServ'ADom s'engage à fournir des services de qualité, mais décline toute responsabilité en cas de dommages directs ou indirects résultant de l'utilisation des services ou de situations imprévues.
      
      6. Propriété intellectuelle : Tous les droits de propriété intellectuelle relatifs au site web, à son contenu et aux prestations de services sont réservés à GServ'ADom. Toute reproduction ou utilisation non autorisée est strictement interdite.
      
      7. Protection des données personnelles : GServ'ADom s'engage à respecter les dispositions légales en matière de protection des données personnelles. Les informations collectées lors de la réservation ou de l'utilisation du site web sont utilisées dans le seul but de fournir les services demandés et ne seront pas divulguées à des tiers sans consentement préalable.
      
      8. Juridiction compétente : Tout litige découlant des présentes CGV sera soumis à la juridiction compétente conformément à la législation en vigueur.
      
      Ces Conditions Générales de Vente sont susceptibles d'être modifiées à tout moment. Il est conseillé aux utilisateurs de consulter régulièrement cette page pour prendre connaissance des éventuelles mises à jour.</p>
      
      <p>Date de dernière mise à jour : 13/07/2023</p>
      
</div>
{% endblock %}
