{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N38G7PNKEZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N38G7PNKEZ');
</script>

<br><br>
<div class="container">
    <img class="img-fluid rounded "src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/355331317_232058129587881_7746128430629634370_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=e3f864&_nc_ohc=DWdj-TWD-cwAX_6j-Mb&_nc_ht=scontent-cdg4-1.xx&oh=00_AfClAXGwH0-NioztCOuog1ZZhK8X0L0fKg8nGRK2D8cDlA&oe=6496B7D3" alt="image services à la personne" style="width: 7rem;">
    <h1 class="text-center fs-1 text fw-bold d-flex justify-content-between fst-italic"><FONT size="9pt">Mentions légales</FONT></h1>
    <img class="img-fluid rounded"src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/355331317_232058129587881_7746128430629634370_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=e3f864&_nc_ohc=DWdj-TWD-cwAX_6j-Mb&_nc_ht=scontent-cdg4-1.xx&oh=00_AfClAXGwH0-NioztCOuog1ZZhK8X0L0fKg8nGRK2D8cDlA&oe=6496B7D3" alt="image services à la personne" style="width: 7rem;">
</div>
<br><br>

<div class="form-card container container-fluid w-100 d-flex justify-content-center cardcolor">
 
    Identification du site web <br>
    Nom de l'entreprise : G Services A Domicile - GServ'ADom <br>
    Statut juridique : [Micro Entreprise] <br>
    Adresse : [Cergy 1 Rue Phileas FOGG] <br>
    Numéro de téléphone : [+33658660725] <br>
    Adresse e-mail : [g.servadom@gmail.com] <br>
    Numéro SIRET : [En cours] <br>
    Directeur de la publication : [Nom du directeur de la publication]

    <br>
    Propriété intellectuelle <br>
    Le contenu de ce site web, y compris les textes, les images, les graphiques, les logos, les vidéos, les fichiers téléchargeables et tout autre élément, est la propriété exclusive de [Nom de l'entreprise] ou de ses partenaires, et est protégé par les lois relatives à la propriété intellectuelle en vigueur. Toute reproduction, distribution, modification ou utilisation non autorisée du contenu, en tout ou en partie, est strictement interdite.
    <br>
    Protection des données personnelles <br>
    GServ'ADom s'engage à protéger la vie privée de ses utilisateurs et à respecter les dispositions légales en matière de protection des données personnelles. Les informations collectées à travers ce site web ne seront utilisées que dans le cadre prévu et ne seront pas divulguées à des tiers sans consentement préalable. Pour plus d'informations sur notre politique de confidentialité, veuillez consulter notre page dédiée à la protection des données personnelles.
    <br>
    Responsabilité <br>
    GServ'ADom met tout en œuvre pour garantir l'exactitude et la mise à jour des informations fournies sur ce site web. Cependant, nous déclinons toute responsabilité en cas d'erreurs, d'omissions ou de problèmes techniques pouvant survenir lors de l'utilisation de ce site. Les utilisateurs sont invités à vérifier l'exactitude des informations avant de prendre toute décision ou action basée sur celles-ci.
    <br>
    Liens externes <br>
    Ce site web peut contenir des liens vers des sites web tiers. Ces liens sont fournis à titre informatif et [Nom de l'entreprise] n'a aucun contrôle sur le contenu ou les pratiques de ces sites. Par conséquent, nous déclinons toute responsabilité quant au contenu, à l'exactitude et à la sécurité des sites web tiers. Les utilisateurs sont invités à consulter les politiques de confidentialité et les conditions d'utilisation de ces sites avant de les utiliser.
    <br>
    Cookies <br>
    Ce site web utilise des cookies pour améliorer l'expérience de l'utilisateur. Les cookies sont de petits fichiers texte stockés sur l'ordinateur de l'utilisateur. Ils permettent de collecter des informations sur la manière dont le site est utilisé et d'offrir des fonctionnalités personnalisées. Les utilisateurs ont la possibilité de refuser l'utilisation des cookies en modifiant les paramètres de leur navigateur.
    <br>
    Juridiction compétente <br>
    Tout litige découlant de l'utilisation de ce site web sera soumis à la juridiction compétente conformément à la législation en vigueur.
    <br>
    Ces mentions légales sont susceptibles d'être modifiées à tout moment. Il est conseillé aux utilisateurs de consulter régulièrement cette page pour prendre connaissance des éventuelles mises à jour.
    <br> <br>
    Date de dernière mise à jour : 20 juin 2023
</div>
{% endblock %}
